<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
    }

    td,
    th {
        padding: 5px;
        text-align: left;
        border: 1px solid #ddd;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    * {
        box-sizing: border-box;
    }

    body {
        font: 16px Arial;
    }

    /*the container must be positioned relative:*/
    .autocomplete {
        position: relative;
        display: inline-block;
    }

    input {
        border: 1px solid black;
        background-color: #f1f1f1;
        /* padding: 10px; */
        font-size: 16px;
    }

    input[type=submit] {
        background-color: DodgerBlue;
        color: #fff;
        cursor: pointer;
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

    /*when hovering an item:*/
    .autocomplete-items div:hover {
        background-color: #e9e9e9;
    }

    /*when navigating through the items using the arrow keys:*/
    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>

<script>
    // Example POST method implementation:
    async function postData(url = '', data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }

    function create_member() {

        var elements = document.getElementById("form1").elements;
        var obj = {};
        obj["name"] = elements["name"].value;
        obj["address"] = elements["address"].value;
        console.log(elements["expiration"].value)

        if (elements["expiration"].value == "pn") {
            obj["remaining_punches"] = 10
            obj["mem_expiration"] = 0
        } else {
            obj["remaining_punches"] = 0
            obj["mem_expiration"] = Date.now() + (parseInt(elements["expiration"].value) * 1000);
        }

        console.log(obj)

        postData("/create_member/", obj)
            .then(data => {
                console.log(data)
            })

    }

    function checkin_member() {
        var elements = document.getElementById("checkin").elements;
        var obj = {};
        obj["member_id"] = 1
        obj["name"] = (elements["name"].value)
        obj["timein"] = Date.now()
        obj["timeout"] = 0

        postData("/create_visit/", obj)
            .then(data => {
                console.log(data)
            })
    }

    function checkout_member(visit) {
        console.log("check this out")
        obj = {}
        obj["member_id"] = parseInt(visit)
        obj["timeout"] = Date.now()
        console.log(obj)
        postData("/checkout/", obj)
            .then(data => {
                console.log(data)
            })

    }

    function edit_member() {
        var elements = document.getElementById("memsearch").elements;
        var obj = {};
        obj["name"] = elements["mname"].value
        console.log(obj)
        postData("/member_lookup/", obj)
            .then(data => {
                var id = data["id"]
                console.log(id)
                window.location = "http://localhost:8000/register/" + id.toString()
            })
    }

    function update_name(member_id) {
        var elements = document.getElementById("updateName").elements;
        var obj = {};
        obj["name"] = (elements["name"].value)
        obj["member_id"] = parseInt(member_id)

        postData("/update_member_name/", obj)
            .then(data => {
                console.log(data)
            })
    }

    function update_address(member_id) {
        var elements = document.getElementById("updateAddress").elements;
        var obj = {};
        obj["address"] = (elements["address"].value)
        obj["member_id"] = parseInt(member_id)

        postData("/update_member_address/", obj)
            .then(data => {
                console.log(data)
            })
    }

    function update_punches(member_id) {
        var elements = document.getElementById("updatePunches").elements;
        var obj = {};
        obj["punches"] = parseInt(elements["punches"].value)
        obj["member_id"] = parseInt(member_id)

        postData("/update_member_punches/", obj)
            .then(data => {
                console.log(data)
            })
    }

    function update_membership(member_id) {
        var elements = document.getElementById("updateMembership").elements;
        var obj = {};
        var t = new Date(elements["expiration"].value);
        t = t.getTime() + 28800000
        obj["date"] = t;
        obj["member_id"] = parseInt(member_id);

        postData("/update_member_membership/", obj)
            .then(data => {
                console.log(data)
            })
    }


    function autocomplete(inp, arr) {
        /*the autocomplete function takes two arguments,
        the text field element and an array of possible autocompleted values:*/
        var currentFocus;
        /*execute a function when someone writes in the text field:*/
        inp.addEventListener("input", function (e) {
            var a, b, i, val = this.value;
            /*close any already open lists of autocompleted values*/
            closeAllLists();
            if (!val) {
                return false;
            }
            currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            this.parentNode.appendChild(a);
            /*for each item in the array...*/
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function (e) {
                        /*insert the value for the autocomplete text field:*/
                        inp.value = this.getElementsByTagName("input")[0].value;
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        /*execute a function presses a key on the keyboard:*/
        inp.addEventListener("keydown", function (e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                /*If the arrow DOWN key is pressed,
                increase the currentFocus variable:*/
                currentFocus++;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 38) { //up
                /*If the arrow UP key is pressed,
                decrease the currentFocus variable:*/
                currentFocus--;
                /*and and make the current item more visible:*/
                addActive(x);
            } else if (e.keyCode == 13) {
                /*If the ENTER key is pressed, prevent the form from being submitted,*/
                e.preventDefault();
                if (currentFocus > -1) {
                    /*and simulate a click on the "active" item:*/
                    if (x) x[currentFocus].click();
                }
            }
        });

        function addActive(x) {
            /*a function to classify an item as "active":*/
            if (!x) return false;
            /*start by removing the "active" class on all items:*/
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            /*add class "autocomplete-active":*/
            x[currentFocus].classList.add("autocomplete-active");
        }

        function removeActive(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }

        function closeAllLists(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        /*execute a function when someone clicks in the document:*/
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }
</script>


<h1> Loprinzi's Member Manager</h1>

<a href="/"><button>Member Directory</button></a>
<a href="/register"><button>Register & Edit Members</button></a>
<a href="/today"><button>Track Today's Visitors</button></a>
<a href="/queries"><button>Queries</button></a>

<br>
<hr>