<script>
    // Example POST method implementation:
    async function postData(url = '', data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }

    function create_member() {

        var elements = document.getElementById("form1").elements;
        var obj = {};
        obj["id"] = 1;
        for (var i = 0; i < elements.length - 1; i++) {
            var item = elements.item(i);
            obj[item.name] = item.value;
        }
        obj["remaining_punches"] = parseInt(obj["remaining_punches"]);

        postData("/create_member/", obj)
            .then(data => {
                console.log(data)
            })

    }

    function checkin_member(){
        var elements = document.getElementById("checkin").elements;
        var obj = {};
        obj["member_id"] = 1
        obj["name"] = (elements["name"].value)
        obj["timein"] = Date.now()
        obj["timeout"] = 0

        postData("/create_visit/", obj)
            .then(data => {
                console.log(data)
            })

    }

    function checkout_member(visit){
        visit["timeout"] = Date.now()
        console.log("check this out")
        console.log(visit)
        postData("/checkout/", visit)
            .then(data => {
                console.log(data)
            })

    }

</script>


<h1> Loprinzi's Member Manager</h1>

<a href="/"><button>Home</button></a>
<a href="/register"><button>Register a new member</button></a>
<a href="/today"><button>Daily Management</button></a>
<br>
<hr>

