<body>
    {% include "header.html" %}

    <h3>Check a member in:</h3>

    <form id=checkin>
        <label for="name">Member Name:</label><br>
        <input type="text" id="name" name="name"><br>
    </form>
    <button form="checkin" type="sumbit" onclick="checkin_member()">Check in</button>

    <hr>
    <h3>Currently Checked In: </h3>

    <ul id="navigation">
            {% for item in curSTR %}
                <li><button onclick="checkout_member('{{curOBJ[loop.index-1][1]}}')">Check Out</button>{{item}}</li>
                <li>{{curOBJ[loop.index-1][1]}}</li>
            {% endfor %}
    </ul>

    <hr>
    <h3>Today's History: </h3>

    <ul id="navigation">
        {% for item in hstSTR %}
        <li>{{item}}</li>
        {% endfor %}
    </ul>


</body>