<html>
    <body>
        <h1> Loprinzi's Member Manager</h1>
        <button type="button">home</button>
        <button type="button">today's log</button>
        <button type="button">enter visitor</button>
        
        <br><br><br><hr>

        <h3>New Visitor</h3>
        <form>
            <label for="name">Name:</label><br>
            <input type="text" id="fname" name="fname"><br>
        </form>

        <br><br><br><hr>

        <h3>Today's visitors</h3>
        <div>{{users}}</div>

    </body>
</html>