<html>

<script>
    function create_member() {

        var elements = document.getElementById("form1").elements;
        var obj ={};
        for(var i = 0 ; i < elements.length-1 ; i++){
            var item = elements.item(i);
            obj[item.name] = item.value;
        }

        var req = new XMLHttpRequest();
        var result = document.getElementById('result');
        req.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                result.innerHTML = this.responseText;
            } else {
                result.innerHTML = "Working...";
            }
        }
        console.log("Sending:")
        req.open('POST', '/create_member/', true);
        //req.setRequestHeader('content-type', 'application/x-www-form-urlencoded');
        console.log(JSON.stringify(obj))
        req.send(JSON.stringify(obj));

    }
</script>
</script>

<body>
    <h1> Loprinzi's Member Manager</h1>
    <button type="button" onclick=location.reload()>home</button>
    <button type="button">today's log</button>
    <button type="button">enter visitor</button>

    <br><br><br>
    <hr>

    <h3>New Member Registration</h3>
    <form id=form1>
        <label for="name">First name:</label><br>
        <input type="text" id="firstname" name="firstname"><br>
        <label for="name">Last name:</label><br>
        <input type="text" id="lastname" name="lastname"><br>
        <label for="name">Address:</label><br>
        <input type="text" id="address" name="address"><br>
        <label for="name">Membership Expiration:</label><br>
        <input type="text" id="membership_epiration" name="membership_expiration"><br>
        <label for="name">Punches:</label><br>
        <input type="text" id="remaining_punches" name="remaining_punches"><br>
    </form>
    <button form="form1" value="Submit" onclick="create_member()">Register</button>
    <h3 id="result"></h3>


    <br><br><br>
    <hr>

    <h3>List of Members</h3>
    <div>{{members}}</div>

</body>

</html>