<html>

<body>
    {% include "header.html" %}

    <h3>List of Members</h3>

    <table id="listmembers">
        <tr>
            <th>Member ID</th>
            <th>Member Name</th>
            <th>Address</th>
            <th>Punches Remaining</th>
            <th>Membership Expiration</th>
        </tr>
        {% for m in members %}
        <tr>
            <td>{{m[0]}}</td>
            <td>{{m[1]}}</td>
            <td>{{m[2]}}</td>
            <td>{{m[3]}}</td>
            <td>{{m[4]}}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>